.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
  // background-image: url("../img/6.jpg");
  p {
    margin-bottom: 5rem;
  }
}
